# Compiled output
/dist
/node_modules

# Env
.env
.env.test.local

# SQLite (dev/test) e artefatos do Prisma
*.db
*.db-journal
prisma/migrations/**/migration.sql.bak

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tests
/coverage
/.nyc_output

# IDEs and editors
.idea
.vscode
*.swp

# OS
.DS_Store
